.aboutContainer {
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden; // Empêche les débordements horizontaux
  background-color: #eef0ef;
  padding-top: 4rem;

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    background-attachment: fixed; /* Ajout pour parallax */
    background-color: rgba(81, 81, 81, 0.257);
    background-blend-mode: overlay;
    background-image: url("/assets/test.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

    margin-bottom: 4rem;

    h1 {
      text-align: center;
      font-size: 6rem;
      color: var(--col3);
      font-weight: 600;
    }
  }

  .content {
    background-image: url("/assets/mg.svg");
    background-size: 50%;
    background-position: top -5% right -10%;
    background-repeat: no-repeat;

    section {
      margin-bottom: 30px;
      padding: 0 3rem;
      max-width: 1400px;
    }

    .history {
      display: flex;
      flex-direction: column;
      width: 60%;

      h2 {
        font-size: 4rem;
        color: var(--col1);
        margin-bottom: 10px;
        font-weight: 700;
      }

      p {
        font-size: 1.3rem;
        color: var(--col2);
       
        line-height: 1.3;
      }

      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
      }
    }
    .values {
      padding-top: 5rem;
      width: 60%;

      h2 {
        font-size: 4rem;
        color: var(--col1);
        margin-bottom: 10px;
        font-weight: 700;
      }

      p {
        font-size: 1.3rem;
        color: var(--col2);
        line-height: 1.3;
      }
    }
  }

  .illustrations {
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
      margin-top: 2rem;
      width: 25rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .team {
    margin-top: 8rem;
    padding-left: 3rem;
    margin-bottom: 4rem;
    h2 {
      font-size: 4rem;
      color: var(--col1);
      margin-bottom: 30px;
      width: 70%;
      font-weight: 700;
    }
    .teamMembers {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .member {
      text-align: center;
      margin: 20px;
    }

    .memberImage {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .aboutContainer {
    .content {
      background-size: 50%;
      background-position: top right -10%;
      background-repeat: no-repeat;

      .values {
        width: 65%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .aboutContainer {
    .content {
      background-size: 50%;
      background-position: top right -10%;
      background-repeat: no-repeat;

      .values {
        width: 80%;
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .aboutContainer {
    .content {
      background-size: 55%;
      background-position: top right -15%;
      background-repeat: no-repeat;

      .history {
        width: 60%;
      }

      .values {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .aboutContainer {
    .content {
      background-size: 50%;
      // background-position: top right -15%;
      background-position: top 16rem  center;
      background-repeat: no-repeat;

      .history {
        width: 90%;
      }

      .values {
        margin-top: 17rem;
        width: 90%;
      }
    }
  }
}

