.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col1);
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 4rem;
  position: fixed;

  .headerLogo {
    padding-left: 1rem;
    img {
      width: 10rem;
      height: 4.5rem;
      cursor: pointer;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: 0.3s;

      &:hover {
        scale: 1.03;
      }
    }
  }

  .burgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
    cursor: pointer;
    z-index: 1100;

    .line {
      width: 35px;
      height: 4px;
      background-color: white;
      border-radius: 2px;
    }
  }

  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;

          color: var(--col2);
          width: 12rem;
          text-align: center;
          border-radius: 5px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;

          &:hover {
            text-decoration: underline;
            scale: 1.02;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    height: 5rem;

    .headerLogo {
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    .burgerMenu {
      display: flex;
      padding-right: 4rem;
    }

    .headerLinks {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.873);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      ul {
        flex-direction: column;

        li a {
          color: white;
          font-size: 1rem;
        }
        .linkedinIcon {
          border: none;
          position: absolute;
          top: 4rem;
          right: -0.8rem;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
