.contactContainer {
  min-height : 100vh;
  // margin: 0 auto;
  padding: 40px;
  // text-align: center;
  background-image: url("/assets/centella2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 8rem;


  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color : var(--col4);
    font-weight: 700;
  }

  .subtitle {
    color: var(--col2);
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.contactContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Formulaire */
.contactForm {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  background: #f8f8f8c9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;

  .formGroup {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: var(--col2);
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
    }
  }

  .submitButton {
    background: var(--col4);
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: #005bb5;
    }
  }
}

/* Informations de contact */
.contactInfo {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  text-align: left;
  padding: 20px;
  background: #ffffffc1;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color : var(--col4);
    font-weight: 700;
  }

  p {
    margin: 5px 0;
    color: var(--col2);
  }
}
