/* DEBUT RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** FIN RESET CSS **/



body {

margin: auto;
color: black;
width: 100%;
font-family: 'Quicksand', sans-serif; 
/* font-family: 'Poppins', sans-serif; */


}
  
  :root {
    --col1: #21504b;
    --col2: #f7f2e4;
    /* --col3: #14bf71; */
    --col3: #813405;
    --col4: #a2c0d5;
    --col5: #e9f0fb;
    --col6: #def0ff;
    --col7: #fff;
    --col8: #6D454C;
    --col9: #a53f2b;
    --col10: #ab2346;
    --col11: #823038;
    --col12: #533b4d;
    --col13: #0f0326;
    --col15: #542344;
    --col16: #B1740F ;

    
    
    

    

  }
