.centellaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef0ef;
  color: #333;
}

// Header
.hero {
  margin-bottom: 3rem;
  height: 60vh;
  background-image: url("/assets/centelladrops.jpeg");
  background-size: cover;
  width: 100%;

  .heroContent {
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    padding-top: 20vh;

    h1 {
      font-size: 3rem;
      color: var(--col1);
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      // color: #555;
      color: var(--col5);
    }
  }
}

// Sections
.section,
.introduction {
  max-width: 1400px;
  margin-bottom: 7rem;
  background-image: url("/assets/centelladrops.jpeg");
  align-content: center;
  padding : 1rem;
  border-radius: 10px;

  h2 {
    font-size: 2.5rem;
    color: var(--col1);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: var(--col2);
  }

  ul {
    margin-bottom: 1.5rem;

    li {
      font-size: 1.1rem;
      color: var(--col5);
      margin-bottom: 0.5rem;
      i {
        color: var(--col1);
        margin-right: 1rem;
      }
    }
  }
}

// Grid for images
.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  .imagePlaceholder {
    background-color: #ddd;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #777;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

// Call to Action
.ctaSection {
  text-align: center;
  margin-top: 3rem;

  h2 {
    font-size: 2rem;
    color: #1b5e20;
  }

  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1.5rem;
  }

  .ctaButton {
    background-color: #388e3c;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #1b5e20;
    }
  }
}

// Responsive
@media (max-width: 900px) {
  .imageGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
