.homeContainer {
  background-color: #f4f6f4;
  color: #222;
  margin-top: 0rem;
  overflow-x: hidden;
  // font-family: Poppins, sans-serif;

  /* ---------------- HERO ---------------- */

  .hero1 {
    // background: url("https://images.unsplash.com/photo-1702834137742-5d26220954ad?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1160")
    //   center/cover no-repeat;
    // gradient background
    // background: linear-gradient(to left, var(--col4), var(--col5));
    //video background
    // background: url("/assets/gotu.mov") center/cover no-repeat;

    height: 160vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    video {
      position: absolute;
      top: 30;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      filter: brightness(0.5);
      -webkit-filter: brightness(0.5);
    }

    .hero {
      display: flex;

      height: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .content {
        z-index: 2;
        color: var(--col2);
        padding: 0 20px;
        display: flex;
        max-width: 1080px;
        align-items: center;
        margin-top: 9rem;

        .contentLeft {
          width: 70%;

          .title {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.3;
            margin-top: 1.5rem;
            color: var(--col7);
          }

          .description {
            font-size: 1.1rem;
            opacity: 0.95;
            margin-top: 1.2rem;
            line-height: 1.4;
          }

          .ctaButton {
            margin-top: 2rem;
            padding: 1rem 5rem;
            background-color: var(--col3);
            color: #fff;
            border: none;
            border-radius: 6px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-color: var(--col2);
              color: var(--col3);
            }
          }
        }

        .contentRight {
          width: 30%;
          display: flex;
          justify-content: right;

          img {
            width: auto;
            height: 400px;
          }
        }
      }
    }

    /* ---------------- SECTORS ---------------- */
    .section1 {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      margin: 6rem auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .section1Content {
        flex: 1 1 30%;
        min-width: 250px;
        height: 300px;
        border-radius: 12px;
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        transition: transform 0.4s ease;
        z-index: 500;
        &:hover {
          transform: scale(1.02);
          -webkit-transform: scale(1.02);
          -moz-transform: scale(1.02);
          -ms-transform: scale(1.02);
          -o-transform: scale(1.02);
        }

        h2 {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          background: rgba(0, 0, 0, 0.55);
          color: #fff;
          padding: 1rem 0;
          font-size: 1.4rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .ctaBanner {
    background: var(--col3);
    color: var(--col7);
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    button {
      background: var(--col7);
      color: var(--col3);
      border: none;
      border-radius: 6px;
      padding: 0.8rem 1.6rem;
      cursor: pointer;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        background: var(--col3);
        color: var(--col7);
        border: 1px solid var(--col7);
      }
    }
  }

  /* ---------------- MISSION & VISION ---------------- */
  .section2 {
    // background: linear-gradient(135deg, var(--col1) 0%, var(--col1) 100%);
    background: linear-gradient(to left, var(--col7), var(--col7));
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .section2Content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 3rem;
      max-width: 1200px;
      width: 100%;
    }

    .card {
      // background: var(--col2);
      border-radius: 20px;
      padding: 3rem 2.5rem;
      text-align: center;
      // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
      transition: all 0.3s ease;
      // border-top: 6px solid var(--col4);

      &:hover {
        transform: translateY(-8px);
        // box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      }

      .icon {
        font-size: 3rem;
        color: var(--col1);
        margin-bottom: 1.5rem;
      }

      h1 {
        color: var(--col3);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        color: var(--col1);
        font-size: 1.1rem;
        line-height: 1.8;
      }
    }
  }

  @media (max-width: 900px) {
    .section2 {
      padding: 4rem 1.5rem;
      .card {
        padding: 2.5rem 1.5rem;
      }
    }
  }

  /* ---------------- VALUES ---------------- */
  .section3 {
    // background: linear-gradient(rgba(34, 56, 34, 0.85), rgba(34, 56, 34, 0.9)),
    //   url("https://images.unsplash.com/photo-1558437753-21dc69d8ebed?q=80&w=2940&auto=format&fit=crop")
    //     center/cover no-repeat;
    background: linear-gradient(rgba(58, 59, 58, 0.579), rgba(34, 56, 34, 0.9)),
      url("https://images.unsplash.com/photo-1558437753-21dc69d8ebed?q=80&w=2940&auto=format&fit=crop")
        center/cover no-repeat;
    padding: 6rem 2rem;
    text-align: center;
    color: #fff;

    .section3Content {
      max-width: 800px;
      margin: auto;

      h1 {
        color: var(--col7);
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 1.3rem;
          color: var(--col2);
          margin: 1rem 0;
          letter-spacing: 0.5px;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
          }
        }
      }
    }
  }

  /* ---------------- WHY PARTNER WITH US ---------------- */
  .partnerSection {
    background: linear-gradient(120deg, var(--col7) 0%, var(--col2) 100%);
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    text-align: center;

    .partnerContent {
      max-width: 1200px;
      width: 100%;

      h1 {
        font-size: 3rem;
        color: var(--col3);
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.2rem;
        color: var(--col1);
        max-width: 800px;
        margin: 0 auto 3rem auto;
        line-height: 1.7;
      }
    }

    .partnerGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      margin-bottom: 3rem;
    }

    .partnerCard {
      background: var(--col1);
      border-radius: 15px;
      padding: 2.5rem 2rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
      }

      span {
        font-size: 2.5rem;
        color: var(--col4);
        display: block;
        margin-bottom: 1rem;
      }

      h2 {
        color: var(--col5);
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      p {
        color: var(--col2);
        font-size: 1rem;
        line-height: 1.6;
      }
    }

    .partnerButton {
      background-color: var(--col3);
      color: var(--col6);
      border: none;
      padding: 1rem 5rem;
      font-size: 1.2rem;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--col7);
        color: var(--col3);
        border: 1px var(--col3) solid;
      }
    }
  }

  .capacitySection {
    padding: 6rem 2rem;
    text-align: center;
    background: linear-gradient(120deg, var(--col5) 0%, var(--col4) 100%);

    h1 {
      font-size: 2.8rem;
      color: var(--col3);
      font-weight: 700;
      margin-bottom: 1.5rem;

      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background: var(--col4);
        margin: 1rem auto 2rem auto;
        border-radius: 2px;
      }
    }

    .capacityIntro {
      font-size: 1.2rem;
      color: black;
      max-width: 800px;
      margin: 0 auto 3rem auto;
      line-height: 1.6;
    }

    .capacityGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      max-width: 1200px;
      margin: auto;
    }

    .capacityCard {
      background: var(--col7);
      padding: 2.5rem 2rem;
      border-radius: 14px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
      }

      h2 {
        font-size: 1.8rem;
        color: var(--col3);
        margin-bottom: 0.8rem;
        font-weight: 700;
      }

      p {
        color: var(--col1);
        font-size: 1.05rem;
        line-height: 1.5;
      }
    }

    @media (max-width: 900px) {
      h1 {
        font-size: 2.2rem;
      }
      .capacityIntro {
        font-size: 1.1rem;
      }
    }
  }

  /* ---------------- IMPACT ---------------- */
  .section4 {
    padding: 8rem 2rem;
    text-align: center;
    background: linear-gradient(rgba(58, 59, 58, 0.579), rgba(34, 56, 34, 0.9)),
      url("https://images.unsplash.com/photo-1699622595982-42fb5bb9ad22?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1740")
        center/cover no-repeat;

    h1 {
      font-size: 2.8rem;
      color: var(--col7);
      margin-bottom: 1.2rem;
      font-weight: 800;
    }

    h2 {
      color: var(--col2);
      font-size: 1.3rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
    }
  }
}
